<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>QUIZ</title>
  <style>
    body {
        background: #eeeeee;
        font-family: Meiryo, serif;
    }

    div {
        background: #ffffff;
        width: 300px;
        padding: 10px;
        text-align: center;
        border: 1px solid #cccccc;
        margin: 30px auto;
    }
</style>
</head>

<body>

<div>
    <h1>技術科部 QUIZ</h1>
    <form action="/question" method="POST">

        <p>
            問題{{ number }}<br>
            {{ question }}
        </p>
  <label id="ans_1">
        <input type="radio" name="1" value="0">{{ ans1 }}
  </label>
      <label id="ans_2">
        <input type="radio" name="1" value="1">{{ ans2 }}
      </label>

        <input type="submit" value="回答" name="answer" style="width: 150px;height: 40px">

</form>

</div>

</body>
</html>
